In [13]:
cont_par = 0
cont_impar = 0

for i in range(10):
  numero = int(input("Ingresa un número: "))

  if numero % 2 == 0:
    cont_par += 1
  else:
    cont_impar += 1

print(f"Números pares: {cont_par}")
print(f"Números impares: {cont_impar}")

Ingresa un número: 3
Ingresa un número: 43
Ingresa un número: 5
Ingresa un número: 67
Ingresa un número: 8
Ingresa un número: 9
Ingresa un número: 13
Ingresa un número: 45
Ingresa un número: 3
Ingresa un número: 2
Números pares: 2
Números impares: 8

In [15]:
cont_par = 0

for i in range(10):
  numero = int(input("Ingresa un número: "))

  if numero % 2 == 0:
    cont_par += 1
    print(f"El número {numero} es par")
  else:
    break

print(f"Números pares encontrados: {cont_par}")

Ingresa un número: 2
El número 2 es par
Ingresa un número: 6
El número 6 es par
Ingresa un número: 4
El número 4 es par
Ingresa un número: 8
El número 8 es par
Ingresa un número: 4
El número 4 es par
Ingresa un número: 24
El número 24 es par
Ingresa un número: 53
Números pares encontrados: 6
La cantidad de numeros pares es de: 6

In [23]:

def calcular_nota_final(nota1, nota2, nota3):
    if nota1 >= 70 and nota2 >= 70 and nota3 >= 70:
        return (nota1 + nota2 + nota3) / 3
    else:
        return "NA"

def reporte_calificaciones(estudiantes):
    print("REPORTE DE CALIFICACIONES")
    print("NOMBRE                NOTA1  NOTA2  NOTA3  NOTA FINAL")

    for estudiante in estudiantes:
        nombre, nota1, nota2, nota3 = estudiante
        nota_final = calcular_nota_final(nota1, nota2, nota3)
        print(f"{nombre:20} {nota1:5} {nota2:5} {nota3:5} {nota_final:>9}")

    print(f"\nTOTAL {len(estudiantes)} ESTUDIANTES")

estudiantes = [
    ("Jaime V", 80, 75, 90),
    ("Julian P", 65, 85, 70),
    ("Felipe P", 90, 90, 90),
    ("Kevin A", 80, 76, 60),
    ("Juan M", 98, 87, 92),
    ("Mario M", 76, 32, 86),
    ("Piedad R", 19, 87, 90),
    ("Mafe J", 98, 42, 24),
    ("Juliana T", 81, 85, 90),
    ("Juana M", 89, 100, 69),
    ("Pablo P", 78, 98, 87),
    ("Paula H", 98, 86, 74),
    ("Daniela O", 87, 86, 43),
    ("Laura C", 45, 65, 59),
    ("Carlos S", 56, 89, 65)

    ]

reporte_calificaciones(estudiantes)

REPORTE DE CALIFICACIONES
NOMBRE                NOTA1  NOTA2  NOTA3  NOTA FINAL
Jaime V                 80    75    90 81.66666666666667
Julian P                65    85    70        NA
Felipe P                90    90    90      90.0
Kevin A                 80    76    60        NA
Juan M                  98    87    92 92.33333333333333
Mario M                 76    32    86        NA
Piedad R                19    87    90        NA
Mafe J                  98    42    24        NA
Juliana T               81    85    90 85.33333333333333
Juana M                 89   100    69        NA
Pablo P                 78    98    87 87.66666666666667
Paula H                 98    86    74      86.0
Daniela O               87    86    43        NA
Laura C                 45    65    59        NA
Carlos S                56    89    65        NA

TOTAL 15 ESTUDIANTES