Listas: Una lista en Python es un tipo de datos nativos construido dentro del lenguaje de programación Python. Estas listas son similares a matrices (o arrays) que se encuentran en otros lenguajes. Sin embargo, en Python se manejan como variables con muchos elementos. Aun así, las listas se consideran un tipo de datos para guardar colecciones de información.

In [ ]:
lista1 = [12,12,6,8,11,1]
lista2 = ["Juan","José","Aguilar","Juan","Pablo","Aguilar"]

In [ ]:
#1. append()
#Definición: Agrega un elemento al final de la lista.

lista1.append(10)
print(lista1)

[12, 12, 6, 8, 11, 1, 10]

In [ ]:
#2. extend()
#Definición: Extiende la lista agregando todos los elementos de una lista iterable al final.

lista1.extend(lista2)
print(lista1)

[12, 12, 6, 8, 11, 1, 10, 'Juan', 'José', 'Aguilar', 'Juan', 'Pablo', 'Aguilar']

In [ ]:
#3. insert()
#Definición: Inserta un elemento en una posición específica.

lista1.insert(2,100)
print(lista1)

[12, 12, 100, 6, 8, 11, 1, 10, 'Juan', 'José', 'Aguilar', 'Juan', 'Pablo', 'Aguilar']

In [ ]:
#4. remove()
#Definición: Elimina la primera ocurrencia de un elemento en la lista.

lista1.remove(12)
print(lista1)

[12, 100, 6, 8, 11, 1, 10, 'Juan', 'José', 'Aguilar', 'Juan', 'Pablo', 'Aguilar']

In [ ]:
#5. pop()
#Definición: Elimina y devuelve el elemento en la posición dada (por defecto, el último).

lista1.pop()
print(lista1)

[12, 100, 6, 8, 11, 1, 10, 'Juan', 'José', 'Aguilar', 'Juan', 'Pablo']

In [ ]:
#6. clear()
#Definición: Elimina todos los elementos de la lista.

lista1.clear()
print(lista1)

[]

In [ ]:
#7. index()
#Definición: Devuelve el índice de la primera aparición de un valor en la lista.

posicion = lista2.index("Juan")
print(posicion)  # 0

0

In [ ]:
#8. count()
#Definición: Cuenta el número de veces que un valor aparece en la lista.

repeticiones = lista2.count("Juan")
print(repeticiones)  # 2

2

In [ ]:
#9. sort()
#Definición: Ordena los elementos de la lista en orden ascendente o en el orden que se especifique.

lista1.sort()
print(lista1)

[]

In [ ]:
#10. reverse()
#Definición: Invierte el orden de los elementos en la lista.

lista1.reverse()
print(lista1)

[]

Diccionarios: Un diccionario Python es una estructura de datos para trabajar con colecciones de datos almacenados en pares de claves/valores. Los diccionarios se ordenan (según Python 3,7) y son mutables. Pueden soportar cambios después de su creación, pero son estrictos acerca de entradas duplicadas. Todas las claves/valores deben ser únicos.

In [ ]:
dict1 = {"nombre":"Juan","apellido":"Aguilar"}
dict2 = {"dia":12,"mes":12,"año":2006}

In [ ]:
#1. get()
#Definición: Devuelve el valor de la clave especificada. Si la clave no existe, devuelve un valor por defecto (opcional).

nombre = dict1.get("nombre","No existe")
print(nombre)

Juan

In [ ]:
#2. keys()
#Definición: Devuelve una vista de todas las claves en el diccionario.

claves = dict1.keys()
print(claves)

dict_keys(['nombre', 'apellido'])

In [ ]:
#3. values()
#Definición: Devuelve una vista de todos los valores en el diccionario.

valores = dict1.values()
print(valores)

dict_values(['Juan', 'Aguilar'])

In [ ]:
#4. items()
#Definición: Devuelve una vista de los pares clave-valor como tuplas.

items = dict1.items()
print(items)

dict_items([('nombre', 'Juan'), ('apellido', 'Aguilar')])

In [ ]:
#5. update()
#Definición: Actualiza el diccionario con pares clave-valor de otro diccionario o de un iterable.

dict1.update(dict2)
print(dict1)

{'nombre': 'Juan', 'apellido': 'Aguilar', 'dia': 12, 'mes': 12, 'año': 2006}

In [ ]:
#6. pop()
#Definición: Elimina la clave especificada y devuelve su valor. Si la clave no existe, se puede devolver un valor por defecto.

diccionario = {'a': 1, 'b': 2, 'c': 3}
valor_eliminado = diccionario.pop('b')
print(valor_eliminado)

2

In [ ]:
#7. popitem()
#Definición: Elimina y devuelve el último par clave-valor añadido en el diccionario.

diccionario = {'a': 1, 'b': 2, 'c': 3}
ultimo_par = diccionario.popitem()
print(ultimo_par)

('c', 3)

In [ ]:
#8. setdefault()
#Definición: Devuelve el valor de una clave si existe, de lo contrario, establece la clave con un valor por defecto.

diccionario = {'a': 1, 'b': 2, 'c': 3}
valor = diccionario.setdefault('b', 4)
print(valor)

2

In [ ]:
#9. clear()
#Definición: Elimina todos los elementos del diccionario, dejándolo vacío.

diccionario = {'a': 1, 'b': 2, 'c': 3}
diccionario.clear()
print(diccionario)

{}

In [ ]:
#10. copy()
#Definición: Devuelve una copia superficial del diccionario.

diccionario = {'a': 1, 'b': 2, 'c': 3}
copia = diccionario.copy()
print(copia)

{'a': 1, 'b': 2, 'c': 3}

##Ejercicios Listas

In [ ]:
#1. Dada la lista: list1 = [100, 200, 300, 400, 500], se desea que imprima [500, 400, 300,
#200, 100]

list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
#2. Escriba un programa que unas dos listas, de tal forma que
#lista1 = ["M", "nom", "e", "e"]
#lista2 = ["i", "bre", "s", “quis"]
#da como resultado ['Mi', 'nombre', 'es', 'equis'] (reemplazar el nombre por el del
#estudiante)

lista1 = ["M", "nom", "e", "J"]
lista2 = ["i", "bre", "s", "uanJo"]

resultado = [a + b for a, b in zip(lista1, lista2)]

print(resultado)

['Mi', 'nombre', 'es', 'JuanJo']

In [ ]:
#3. Desarrolle un programa que calcule el doble de cada uno de los elementos de una
#lista. Ejemplo: si la lista es [1, 2, 3, 4, 5, 6, 7] da como resultado [1, 4, 9, 16, 25, 36,
#49].

lista = [1, 2, 3, 4, 5, 6, 7]
resultado = [x * 2 for x in lista]
print(resultado)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
#4. Dadas dos listas
#a. lista1 = ["Hola ", "toma "]
#b. lista2 = ["Querido", "Señor"]
#desarrollar un programe que de como resultado [“Hola Querido”, “Hola Señor”,
#'toma Querido”, 'toma Señor']

lista1 = ["Hola ", "toma "]
lista2 = ["Querido", "Señor"]

resultado = [a + b for a in lista1 for b in lista2]

print(resultado)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

In [ ]:
#5. Dadas dos listas
#list1 = [10, 20, 30, 40]
#list2 = [100, 200, 300, 400]
#se desea construir un programa que imprima
#10 400
#20 300
#30 200
#40 100

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
    print(list1[i], list2[len(list1) - 1 - i])

10 400
20 300
30 200
40 100

In [ ]:
#6. Dada la lista ["Mike", "", "Emma", "Kelly", "", "Brad"] se desea un programa que
#elimine el elemento vacío.

lista = ["Mike", "", "Emma", "Kelly", "", "Brad"]
lista = list(filter(None, lista))
print(lista)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#7. Dada la lista [10, 20, [300, 400, [5000, 6000], 500], 30, 40] se desea un programa
#que genere el siguiente resultado: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30,
#40]

lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

lista[2][2].append(7000)

print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#8. Dada dos listas
#lista1= ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
#lista 2= ["h", "i", "j"]
#se desea un programa que imprima lo siguiente:
#['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]

lista1[2][1][2].extend(lista2)
print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
#9. Dada la lista [5, 10, 15, 20, 25, 50, 20] se desea un programa que reemplace el
#número de la mitad por 200.

lista = [5, 10, 15, 20, 25, 50, 20]

mitad = len(lista) // 2

lista[mitad] = 200

print(lista)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#10.Construya un programa que elimine de una lista todos los duplicados. Ejemplo, si
#se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprime [5, 15, 25, 50]

lista = [5, 20, 15, 20, 25, 50, 20]
nueva_lista = []

for elemento in lista:
  if elemento not in nueva_lista:
    nueva_lista.append(elemento)

print(nueva_lista)

[5, 20, 15, 25, 50]

In [ ]:
#11.Construya una programa que cuente cuántas veces se repitan los elementos de una
#lista. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprima:
#5 = 1
#20 = 3
#15 = 1
#25= 1
#50 = 1

lista = [5, 20, 15, 20, 25, 50, 20]

for elemento in lista:
  contador = lista.count(elemento)
  print(f"{elemento} = {contador}")

5 = 1
20 = 3
15 = 1
20 = 3
25 = 1
50 = 1
20 = 3

In [ ]:
#12.Construya un programa que ordene los elementos de una lista de menor a mayor o
#viceversa.

lista = [5, 20, 15, 20, 25, 50, 20]
lista.sort()
print(lista)

[5, 15, 20, 20, 20, 25, 50]

In [ ]:


lista = [5, 20, 15, 20, 25, 50, 20]
lista.sort(reverse=True)
print(lista)

[50, 25, 20, 20, 20, 15, 5]

In [ ]:
#13. Escriba un programa en Python que le permita al usuario obtener de una lista:
#a. La suma de todos sus elementos
#b. La multiplicación de todos sus elementos
#c. El número mayor
#d. El número menor


lista = input("Ingresa los elementos de la lista separados por comas: ").split(",")
lista = [int(elemento) for elemento in lista]  # Convertir a enteros

print("Suma:", sum(lista))
print("Multiplicación:", 1 if not lista else lista[0] * (1 if len(lista) == 1 else lista[1] * (1 if len(lista) == 2 else lista[2] * (1 if len(lista) == 3 else lista[3] * (1 if len(lista) == 4 else lista[4] * (1 if len(lista) == 5 else lista[5] * (1 if len(lista) == 6 else lista[6] * (1 if len(lista) == 7 else lista[7] * (1 if len(lista) == 8 else lista[8] * (1 if len(lista) == 9 else lista[9] * (1 if len(lista) == 10 else lista[10] * (1 if len(lista) == 11 else lista[11] * (1 if len(lista) == 12 else lista[12] * (1 if len(lista) == 13 else lista[13] * (1 if len(lista) == 14 else lista[14] * (1 if len(lista) == 15 else lista[15] * (1 if len(lista) == 16 else lista[16] * (1 if len(lista) == 17 else lista[17] * (1 if len(lista) == 18 else lista[18] * (1 if len(lista) == 19 else lista[19] * (1 if len(lista) == 20 else lista[20])))))))))))))))))))))
print("Número mayor:", max(lista))
print("Número menor:", min(lista))

Ingresa los elementos de la lista separados por comas: 2,3,4,5,6,7
Suma: 27
Multiplicación: 5040
Número mayor: 7
Número menor: 2

In [ ]:
#14. Escriba un programa que calcule la diferencia entre dos listas.

lista1 = [1, 2, 3, 4, 5]
lista2 = [3, 4, 5, 6, 7]

diferencia = list(set(lista1) - set(lista2))

print(diferencia)

[1, 2]

In [ ]:
#15. Escriba un programa que permita identificar el segundo y tercer elemento menor de
#una lista de 10 elementos.

lista = [5, 2, 8, 1, 9, 3, 7, 4, 6, 10]


lista.sort()

lista_sin_duplicados = list(set(lista))
lista_sin_duplicados.sort()


if len(lista_sin_duplicados) >= 3:
  print("Segundo elemento menor:", lista_sin_duplicados[1])
  print("Tercer elemento menor:", lista_sin_duplicados[2])
else:
  print("La lista no tiene suficientes elementos únicos.")

Segundo elemento menor: 2
Tercer elemento menor: 3

In [ ]:
#16.Crear un programa que cree múltiples listas de una lista principal, de tal forma que:
#a. La primera lista es la suma del segundo elemento con el primero.
#b. La segunda lista es la resta del segundo elemento con el primero. Si el
#número da negativo, se reemplaza con 0.
#c. La tercera lista multiplica cada uno de los elementos *2
#d. La cuarta lista eleva cada uno de los elementos al cuadrado.
#Ejemplo: Sea la lista [5, 20, 15, 20, 25, 50, 20] el programa imprime:
#Lista1= [25,35,35,45,75,70]
#Lista2=[0,0,5,5,25,0]
#Lista3=[10,40,30,40,50,100,40]
#Lista4=[25,400,225,400,625,2500,400]

lista_principal = [5, 20, 15, 20, 25, 50, 20]

lista1 = [lista_principal[i] + lista_principal[i + 1] for i in range(len(lista_principal) - 1)]
lista2 = [(lista_principal[i + 1] - lista_principal[i] if lista_principal[i + 1] - lista_principal[i] >= 0 else 0) for i in range(len(lista_principal) - 1)]
lista3 = [x * 2 for x in lista_principal]
lista4 = [x**2 for x in lista_principal]

print("Lista1 =", lista1)
print("Lista2 =", lista2)
print("Lista3 =", lista3)
print("Lista4 =", lista4)

Lista1 = [25, 35, 35, 45, 75, 70]
Lista2 = [15, 0, 5, 5, 25, 0]
Lista3 = [10, 40, 30, 40, 50, 100, 40]
Lista4 = [25, 400, 225, 400, 625, 2500, 400]

In [ ]:
#17. Escriba un programa que separe los elementos de una lista en el n-ésimo término.
#Ejemplo: sea la lista ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] y si n=5 la nueva lista
#será [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 5

new_list = [[] for _ in range(n)]  # Create n empty sublists

for i, item in enumerate(lst):
    new_list[i % n].append(item)  # Append to sublist based on index modulo n

print(new_list)

[['a', 'f', 'k'], ['b', 'g', 'l'], ['c', 'h', 'm'], ['d', 'i', 'n'], ['e', 'j']]

In [ ]:
#18. Escriba un programa que mueva todos los ceros al final de una lista. Ejemplo, si se
#tiene la lista [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1] el
#resultado esperado es: [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0,
#0, 0, 0]

lst = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
result = [x for x in lst if x != 0]
result.extend([0] * lst.count(0))
print(result)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

##Ejercicios Diccionarios

In [ ]:
#1. Desarrolle un programa que genere un diccionario de dos listas. Ejemplo. Sean las
#listas ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000",
#"#FFFF00"], se espera: [{'color_name': 'Black', 'color_code': '#000000'},
#{'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code':
#'#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

keys = ["Black", "Red", "Maroon", "Yellow"]
values = ["#000000", "#FF0000", "#800000", "#FFFF00"]

result = [{'color_name': k, 'color_code': v} for k, v in zip(keys, values)]

print(result)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
#2. Desarrolle un programa que genera el siguiente diccionario, en donde el valor es el
#cuadrado de la clave de 15 números: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64,
#9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

result = {i: i**2 for i in range(1, 16)}

print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#3. Sean dos diccionarios
#d1 = {'a': 100, 'b': 200, 'c':300}
#d2 = {'a': 300, 'b': 200, 'd':400} se desea que se genere un tercero tal que de como
#resultado ({'a': 400, 'b': 400, 'd': 400, 'c': 300})

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

d3 = d1.copy()

for key, value in d2.items():
  d3[key] = d3.get(key, 0) + value

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
#4. Escriba un programa que imprima todos los valores únicos de un diccionario, tal
#que [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"},
#{"V":"S009"},{"VIII":"S007"}] imprima {'S005', 'S002', 'S007', 'S001', 'S009'}

data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

unique_values = set()

for item in data:
  for value in item.values():
    unique_values.add(value)

print(unique_values)

{'S002', 'S005', 'S009', 'S001', 'S007'}

In [ ]:
#5. Desarrollar un programa que genere un diccionario de una palabra y cuente cuántas
#veces se repita la letra en la palabra. Ejemplo: La palabra “Anita” genera el
#diccionario {“A”: 2, ”n”:1, ”i”:1, ”t”:1}

word = "Anita".upper()
freq_dict = {}
for letter in word:
    freq_dict[letter] = freq_dict.get(letter, 0) + 1
print(freq_dict)

{'A': 2, 'N': 1, 'I': 1, 'T': 1}

In [ ]:
#6.Desarrolle un programa que emule una caja registradora de 15 productos con sus
#respectivos precios. El programa debe generar una factura de compra y al final
#indicar al dueño del establecimiento:
#a. Cuántos productos se vendieron durante el día
#b. Cuál fue la ganancia total
#c. Cuál fue la mayor compra
#d. Cuántos clientes se atendieron en el día.
#e. El programa sólo puede realizarse con diccionarios.

productos = {
    "articulo1": 10, "articulo2": 15, "articulo3": 20, "articulo4": 25, "articulo5": 30,
    "articulo6": 35, "articulo7": 40, "articulo8": 45, "articulo9": 50, "articulo10": 55,
    "articulo11": 60, "articulo12": 65, "articulo13": 70, "articulo14": 75, "articulo15": 80
}

ventas = []
total_productos_vendidos = 0
ganancia_total = 0
compra_maxima = 0
clientes_atendidos = 0

while True:

    pedido = input("Introduce los artículos separados por comas (o 'fin' para terminar): ").lower()
    if pedido == "fin":
        break


    articulos = pedido.split(",")
    total_compra = 0
    for articulo in articulos:
        articulo = articulo.strip()
        if articulo in productos:
            total_compra += productos[articulo]
            total_productos_vendidos += 1
        else:
            print(f"Artículo '{articulo}' no encontrado en el inventario.")


    ventas.append(total_compra)
    ganancia_total += total_compra
    compra_maxima = max(compra_maxima, total_compra)
    clientes_atendidos += 1


print("\n--- Resumen del Día ---")
print(f"Total de productos vendidos: {total_productos_vendidos}")
print(f"Ganancia total: {ganancia_total}")
print(f"Compra máxima: {compra_maxima}")
print(f"Clientes atendidos: {clientes_atendidos}")

Introduce los artículos separados por comas (o 'fin' para terminar): articulo1
Introduce los artículos separados por comas (o 'fin' para terminar): fin

--- Resumen del Día ---
Total de productos vendidos: 1
Ganancia total: 10
Compra máxima: 10
Clientes atendidos: 1